<div>
<div class="sticky-top">
<h3 *ngIf="product != undefined">{{product.name}}</h3>
<div class="row">
    <div *ngFor="let purchase of productPurchases">
        <!--<div class="row">
            <div class="col-md-3"><img src="/assets/angular.svg" width="200px"></div>
        </div>-->
        <div class="row">
            <div class="col">
                <span *ngIf="purchase.productDetail != undefined && purchase.productDetail.brand != undefined">{{purchase.productDetail.brand.name}}</span>    
            </div>
            <div class="col">
                <span *ngIf="purchase.productDetail != undefined && purchase.productDetail.format != undefined">{{purchase.productDetail.format.name}}</span>
            </div>
            <div class="col">
                <span *ngIf="purchase.purchase.store != undefined">{{purchase.purchase.store.name}}</span>
            </div>
            <div class="col">{{purchase.price}}</div>
            <div class="col">{{purchase.purchase.date | date : 'dd/MM/yyyy'}}</div>
        </div>
    </div>
</div>  
</div>
</div>

