<h3 *ngIf="title">{{title}}</h3>
<app-alert [successMessage]="successMessage" [errorMessage]="errorMessage"></app-alert>

<div>
  
  <a (click)="updatePurchase()" *ngIf="idPurchase != 0">
    <button class="btn btn-default btn-circle my-3 border" >
      <i class="bi bi-save"><span> Guardar Compra</span></i>
    </button>
  </a>
  <a [routerLink]="['/purchase']">
    <!--<a (click)= "refreshComponent()">-->
    <button class="btn btn-default btn-circle my-3 border" >
      <i class="bi bi-cart-plus"><span> Nueva Compra</span></i>
    </button>
  </a>
</div>
<div ngbAccordion [closeOthers]="true" #accordion="ngbAccordion" animation="true">
    <div ngbAccordionItem="Data" #data="ngbAccordionItem" [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Fecha</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="input-group w-25">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelection($event)">
            <button class="btn btn-outline-secondary calendar bi bi-calendar3" (click)="d.toggle()" type="button">
            </button>
        </div>
      </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem="Store" #data="ngbAccordionItem">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Tiendas</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div *ngIf="listStores.length == 0" class="row at-3">
            <h5 class="float-start">No existe ninguna tienda en base de datos.</h5>
          </div>
          <div class="row at-5">
            <div *ngFor="let store of listStores" class="position-relative col">
                <img [src]="store.image | safeURL" height="170" width="150" (click)="selectStore(store.id)"
                [ngClass]="(store.id == selectedStore) ? 'rounded border border-primary border-5' : 'rounded mr-1 border' " 
                [title]="store.name" [alt]="store.name">
              
            </div>
            <a (click)="triggerAddModal('tienda')">
              <button class="btn btn-default btn-circle m-1 border" >
                <i class="bi bi-plus-circle-fill"><span>Añadir Tienda</span></i>
              </button>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem="Product" #product="ngbAccordionItem">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Productos</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
    <ng-template>
      <div class="input-group mb-3">
        <!--<label for="typeahead-basic">Producto</label>
        <input id="productListOptions" type="text" class="form-control rounded-pill" [(ngModel)]="searchText" 
        [ngbTypeahead]="search"/>-->

        <input type="text" class="form-control rounded-pill" aria-label="Search" [(ngModel)]="searchText" 
        aria-describedby="Search Product" placeholder="Enter text to search" list="productListOptions"
        (keyup.enter)="selectedProduct($event)">
        <datalist id="productListOptions">
          <option *ngFor="let product of listProducts | nameFilter: searchText" [value]="product.name">{{product.name}}</option>
        </datalist>
      <!--</div>
      <div class="row">-->
        <!-- ngIf listaProducts > 0-->
        <!-- <div *ngFor="let product of listProducts | nameFilter: searchText" class="position-relative col">
            <button class="btn btn-default btn-circle border rounded-pill" (click)="addProductToPurchase(product.id)">
              {{product.name}}
            </button>            
        </div> -->
        <a (click)="triggerAddModal('producto')">
          <button class="btn btn-default btn-circle ms-3 border" >
            <i class="bi bi-plus-circle-fill"><span>  Añadir Producto</span></i>
          </button>
        </a>
      </div>
      <div class="row" *ngIf="idPurchase != 0">
        <a (click)="prevPurchase()" class="col" aria-label="Previous">
          <button class="btn btn-default btn-circle my-3 border" [disabled]="purchaseService.previousId == undefined || purchaseService.previousId == 0">
            <i class="bi bi-chevron-left"><span> Previous</span></i>
          </button>
        </a>
      
        <a (click)="nextPurchase()" class="col" aria-label="Next">
          <button class="btn btn-default btn-circle my-3 border float-end" [disabled]="purchaseService.nextId == undefined || purchaseService.nextId == 0">
            <span> Next <i class="bi bi-chevron-right"></i></span>
          </button>
        </a>
      </div>
      <!-- Lista de productos de la compra-->
      <div *ngIf="purchase != undefined && purchase.productList != undefined && purchase.productList.length > 0">
        <div class="row justify-content-end my-3">
          <label class="col-2">Total: <b>{{getTotal() | number}} €</b></label>
        </div>
        <div class="row">
      <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col" (click) = "sort('product')" class="sortable">
              Producto
              <i *ngIf="currentSortProperty === 'product'" [class]="currentSortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
            </th>
            <th scope="col" (click) = "sort('brand')" class="sortable">
              Marca
              <i *ngIf="currentSortProperty === 'brand'" [class]="currentSortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
            </th>
            <th scope="col" (click) = "sort('format')" class="sortable">
              Formato
              <i *ngIf="currentSortProperty === 'format'" [class]="currentSortDirection === 'asc' ? 'bi bi-arrow-up' : 
                          currentSortDirection === 'asc' ? 'bi bi-arrow-down' : ''"></i>
            </th>
            <th scope="col" (click) = "sort('price')" class="sortable">
              Precio
              <i *ngIf="currentSortProperty === 'price'" [class]="currentSortDirection === 'asc' ? 'bi bi-arrow-up' : 
                          currentSortDirection === 'asc' ? 'bi bi-arrow-down' : ''"></i>
            </th>
            <th scope="col" (click) = "sort('quantity')" class="sortable">
              Cantidad/Peso
              <i *ngIf="currentSortProperty === 'quantity'" [class]="currentSortDirection === 'asc' ? 'bi bi-arrow-up' : 
                          currentSortDirection === 'asc' ? 'bi bi-arrow-down' : ''"></i>
            </th>
            <th scope="col" (click) = "sort('total')" class="sortable">
              Total
              <i *ngIf="currentSortProperty === 'total'" [class]="currentSortDirection === 'asc' ? 'bi bi-arrow-up' : 
                          currentSortDirection === 'asc' ? 'bi bi-arrow-down' : ''"></i>
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <!-- con | reverse se puede poner la lista ordenada al revés-->
          <tr *ngFor="let product of sortedData; let i = index"> 
            <th scope="row">{{i+1}}</th>
            <td>{{product.product.name}}</td>
            <td>
              <span *ngIf="product.productDetail != undefined && product.productDetail.brand != undefined">{{product.productDetail.brand.name}}</span>
            </td>
            <td>
              <span *ngIf="product.productDetail != undefined && product.productDetail.format != undefined">{{product.productDetail.format.name}}</span>
              <span *ngIf="(product.productDetail == undefined || product.productDetail.format == undefined) && product.weight != undefined">Granel</span>
            </td>
            <td>{{product.price | number}} € </td>
            <td>
              <span *ngIf="product.weight == null">{{product.quantity}}</span>
              <span *ngIf="product.weight != null">{{product.weight | number}} gr.</span>
            </td>
            <td>{{getTotalProduct (product) | number}} €</td>
            <td> 
              <button type="button" class="btn bi bi-pencil" (click)="editProductPurchase(product.id)">
              </button>
            </td>
            <td>
              <button type="button" class="btn bi bi-trash" (click)="deleteProductPurchase(product.id)">
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"></td>
            <td colspan="1">Total</td>
            <td colspan="1"> {{getTotal() | number}} €</td>
          </tr>
        </tfoot>
      </table>
    </div>
    </div>
    </ng-template>
      </div>
    </div>
  </div>
</div>